<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高频考点 计算属性 </title>
    <script src="./vue.global.js"></script>


</head>

<body>
    <div id="app">
          <p>书籍总数量 ：{{bookLength}}</p>

          <input type="text" v-model="firstName"> 
          <input type="text" v-model="lastName"> 
          <span>全名：{{fullName}}</span>
          <input type="text" v-model="fullName"> 
        
    </div>
    <script>
        const { ref, reactive,computed } = Vue;
        const app = Vue.createApp({
            setup() {
                let books = ref([
                    'Vue 2 - Advanced Guide',
                    'Vue 3 - Basic Guide',
                    'Vue 4 - The Mystery',
                    'Vue 4 - The Mystery',
                ])
               let firstName = ref('');
               let lastName = ref('');

               let  bookLength=computed(()=>{
                   return firstName.value + lastName.value
               })
               
               let fullName = computed({
                  get(){
                    // 获取属性
                    return firstName.value + ' ' + lastName.value
                  },
                  set(newValue){
                    // 设置属性会触发 
                     console.log(newValue)
                    [firstName.value, lastName.value] = newValue.split(' ')
                  }
               })
              return {
                bookLength,
                fullName,
                firstName,
                lastName
              }
            }

        })
        app.mount('#app') // 把 vue 示例进行挂载
    </script>
</body>

</html>